%h3= t('shared.remaining_credits')
.alert.alert-block.alert-warning
  = t('shared.you_have')
  = current_user.rate_limit_status
  = t('shared.credits_left')
  %span= link_to t('home.more_info'), 'javascript:void(0)', :rel => 'popover', :'data-content' => t('shared.twitter_info'), :'data-original-title' => t('shared.twitter_credits')
  %br
  %br
  = rate_limit_progress_bar(current_user.rate_limit_status)
  %div{:style => "margin-bottom:-20px"}