.hero-unit
  %h1= t('home.page_title')
  %p= t('home.page_description')
  %p.center
    - if current_user
      =link_to t('home.create_search'), '#search-modal', :class => 'btn primary btn-large', :data => {:toggle => "modal"}
    - else
      =link_to t('home.sign_in_twitter'), '/auth/twitter', :class => 'btn primary btn-large center'
.row.spaced-left
  .span4
    = image_tag 'auth.png'
    %h2.center= t('home.box1_title')
    %p= t('home.box1_description')
  .span4
    = image_tag 'new_search.png'
    %h2.center= t('home.box2_title')
    %p= t('home.box2_description')
  .span4
    = image_tag 'users.png'
    %h2.center= t('home.box3_title')
    %p= t('home.box3_description')