<!DOCTYPE html>
<html>
  <head>
    <title><%= t('shared.app')%></title>
    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    
    <%=partial 'shared/navigation'%>

    <div class="container">
      
      <div class="content">
        <div class="row">
          <div class="span8" style="border-right:1px solid #E5E5E5;margin-right:0">
            <% flash.each do |type, message| -%>
              <% type = :success if type == :notice%>
              <div class="alert alert-<%=type%> center">
                <a class="close" data-dismiss="alert">&times;</a>
                <p><%= message %></p>
              </div>
            <% end -%>
            <%= yield%>
          </div>
          <% if current_user %>
          <div class="span3" style="margin-left:15px">
            <%= partial('sidebar')%>
            <%= yield :sidebar %>
          </div>
          <% end %>
        </div>
      </div>
      <hr/>
      <%= partial 'shared/footer' %>
      <%= partial 'shared/new_search'%>
    </div>
  </body>
</html>
