<!DOCTYPE html>
<html>
  <head>
    <title><%= t('shared.app')%></title>
    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <div class="topbar">
      <div class="fill">
        <div class="container">
          <a class="brand" href="/"><%= t('shared.app')%></a>
          <ul class="nav">
            <li class="<%=controller_name == 'home' ? 'active' : ''%>"><a href="/"><%=t('home.nav')%></a></li>
            <% if current_user %>
              <li class="<%=controller_name == 'searches' ? 'active' : ''%>"><%=link_to t('searches.nav'), searches_path%></li>
              <li class="dropdown pull-right" data-dropdown="dropdown" style="margin-left:300px">
                <a href="#" class="dropdown-toggle"><%= current_user%></a>
                <ul class="dropdown-menu">
                  <li><%=link_to t('shared.account'), user_path%></li>
                  <li><%=link_to t('shared.sign_out'), sessions_path, :method => :delete%></li>
                </ul>
              </li>
            <% end %>
          </ul>
          <% unless current_user %>
            <%= link_to t('shared.sign_in'), '/auth/twitter', :class => 'btn primary pull-right', :style => "margin-top:5px"%>
          <% end %>
        </div>
      </div>
    </div>

    <div class="container">

      <div class="content">
        <div class="page-header">
          <h1><%= t('shared.app')%> <small><%= t('shared.app_description')%></small></h1>
        </div>
        <div class="row">
          <div class="span10 <%='full' unless current_user%>">
            <% flash.each do |type, message| -%>
              <div class="alert-message <%= type %> center">
                <a class="close" href="#">×</a>
                <p><%= message %></p>
              </div>
            <% end -%>
            <%= yield%>
          </div>
          <% if current_user %>
          <div class="span4">
            <%= partial('sidebar')%>
          </div>
          <% end %>
        </div>
      </div>

      <footer>
        <p><%=t('shared.footer').html_safe%></p>
      </footer>

    </div>

  </body>
</html>
